<app-layout heading="Themes">
  <div class="row gx-3">
    <div class="col-12 col-lg-6 mb-3">
      <div class="block">
        <h1>👉🏻 Silent Night</h1>

        <p class="mb-2 mb-lg-4">Dark theme with gray and golden colors.</p>

        <div class="colors silent-night mb-3 mb-lg-4">
          <div class="color-item primary"></div>
          <div class="color-item secondary"></div>
          <div class="color-item background"></div>
          <div class="color-item highlight"></div>
          <div class="color-item accent"></div>
          <div class="color-item text"></div>
        </div>

        <div class="mb-3 mb-lg-0">
          <button nighthawkButton class="me-2" type="button" color="primary" size="small" [rounded]="true" [border]="true">Download</button>

          <button nighthawkButton type="button" color="transparent" size="small" [rounded]="true" [border]="true">View raw</button>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 mb-3">
      <div class="block">
        <h1>👉🏻 Blue Lagoon</h1>

        <p class="mb-2 mb-lg-4">Dark theme with gray and golden colors.</p>

        <div class="colors blue-lagoon mb-4">
          <div class="color-item primary"></div>
          <div class="color-item secondary"></div>
          <div class="color-item background"></div>
          <div class="color-item highlight"></div>
          <div class="color-item accent"></div>
          <div class="color-item text"></div>
        </div>

        <div class="mb-3 mb-lg-0">
          <button nighthawkButton class="me-2" type="button" color="primary" size="small" [rounded]="true" [border]="true">Download</button>

          <button nighthawkButton type="button" color="transparent" size="small" [rounded]="true" [border]="true">View raw</button>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 mb-3">
      <div class="block">
        <h1>👉🏻 Forest</h1>

        <p class="mb-2 mb-lg-4">Dark theme with gray and golden colors.</p>

        <div class="colors forest mb-4">
          <div class="color-item primary"></div>
          <div class="color-item secondary"></div>
          <div class="color-item background"></div>
          <div class="color-item highlight"></div>
          <div class="color-item accent"></div>
          <div class="color-item text"></div>
        </div>

        <div class="mb-3 mb-lg-0">
          <button nighthawkButton class="me-2" type="button" color="primary" size="small" [rounded]="true" [border]="true">Download</button>

          <button nighthawkButton type="button" color="transparent" size="small" [rounded]="true" [border]="true">View raw</button>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 mb-3">
      <div class="block">
        <h1>👉🏻 Ice Cold</h1>

        <p class="mb-2 mb-lg-4">Dark theme with gray and golden colors.</p>

        <div class="colors ice-cold mb-4">
          <div class="color-item primary"></div>
          <div class="color-item secondary"></div>
          <div class="color-item background"></div>
          <div class="color-item highlight"></div>
          <div class="color-item accent"></div>
          <div class="color-item text"></div>
        </div>

        <div class="mb-3 mb-lg-0">
          <button nighthawkButton class="me-2" type="button" color="primary" size="small" [rounded]="true" [border]="true">Download</button>

          <button nighthawkButton type="button" color="transparent" size="small" [rounded]="true" [border]="true">View raw</button>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 mb-3">
      <div class="block">
        <h1>👉🏻 Baby Pink</h1>

        <p class="mb-2 mb-lg-4">Dark theme with gray and golden colors.</p>

        <div class="colors baby-pink mb-4">
          <div class="color-item primary"></div>
          <div class="color-item secondary"></div>
          <div class="color-item background"></div>
          <div class="color-item highlight"></div>
          <div class="color-item accent"></div>
          <div class="color-item text"></div>
        </div>

        <div class="mb-3 mb-lg-0">
          <button nighthawkButton class="me-2" type="button" color="primary" size="small" [rounded]="true" [border]="true">Download</button>

          <button nighthawkButton type="button" color="transparent" size="small" [rounded]="true" [border]="true">View raw</button>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 mb-3">
      <div class="block">
        <h1>👉🏻 Light Wood</h1>

        <p class="mb-2 mb-lg-4">Dark theme with gray and golden colors.</p>

        <div class="colors light-wood mb-4">
          <div class="color-item primary"></div>
          <div class="color-item secondary"></div>
          <div class="color-item background"></div>
          <div class="color-item highlight"></div>
          <div class="color-item accent"></div>
          <div class="color-item text"></div>
        </div>

        <div class="mb-3 mb-lg-0">
          <button nighthawkButton class="me-2" type="button" color="primary" size="small" [rounded]="true" [border]="true">Download</button>

          <button nighthawkButton type="button" color="transparent" size="small" [rounded]="true" [border]="true">View raw</button>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 mb-3">
      <div class="block">
        <h1>👉🏻 Modest Beige</h1>

        <p class="mb-2 mb-lg-4">Dark theme with gray and golden colors.</p>

        <div class="colors modest-beige mb-4">
          <div class="color-item primary"></div>
          <div class="color-item secondary"></div>
          <div class="color-item background"></div>
          <div class="color-item highlight"></div>
          <div class="color-item accent"></div>
          <div class="color-item text"></div>
        </div>

        <div class="mb-3 mb-lg-0">
          <button nighthawkButton class="me-2" type="button" color="primary" size="small" [rounded]="true" [border]="true">Download</button>

          <button nighthawkButton type="button" color="transparent" size="small" [rounded]="true" [border]="true">View raw</button>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 mb-3">
      <div class="block">
        <h1>👉🏻 Soft Blue</h1>

        <p class="mb-2 mb-lg-4">Dark theme with gray and golden colors.</p>

        <div class="colors soft-blue mb-4">
          <div class="color-item primary"></div>
          <div class="color-item secondary"></div>
          <div class="color-item background"></div>
          <div class="color-item highlight"></div>
          <div class="color-item accent"></div>
          <div class="color-item text"></div>
        </div>

        <div class="mb-3 mb-lg-0">
          <button nighthawkButton class="me-2" type="button" color="primary" size="small" [rounded]="true" [border]="true">Download</button>

          <button nighthawkButton type="button" color="transparent" size="small" [rounded]="true" [border]="true">View raw</button>
        </div>
      </div>
    </div>
  </div>
</app-layout>
