<app-layout heading="Introduction">
  <div class="mobile-hero d-lg-none">
    <img src="./images/nighthawk.jpg" alt="F-117 Nighthawk" />
  </div>

  <div class="desktop-hero block d-none d-lg-block">
    <img src="./images/nighthawk.jpg" alt="F-117 Nighthawk" />
  </div>

  <div class="block">
    <h1>👋🏼 About this project</h1>

    <p>
      Welcome to the <strong>F-117 Nighthawk - Angular Devkit</strong> package. This is a production-ready, enterprise-grade project
      developed with <strong>Bootstrap</strong>, offering extensive custom functionality. If you are an Angular developer, you are likely
      familiar with <strong>ng-bootstrap</strong>, <strong>ngx-bootstrap</strong>, and other <strong>Angular/Bootstrap</strong> packages,
      which you may have already used. This project, initially created for in-house development by the skilled Angular team at
      <strong>EVENUX</strong>, has expanded in both features and scope. In the beginning, it used to be a paid package, but we have decided
      to make it available as a FREE package that can be utilized in a wide range of projects.
    </p>
    <p>
      At <strong>EVENUX</strong>, we possess extensive experience in <strong>Angular</strong> development, leveraging one of the most
      versatile and refined frameworks available today. Our objective is to provide a comprehensive foundation for your projects, offering
      <strong>pre-built components</strong> for all your needs. Simply configure the SASS style variables, and you will be ready to bring
      your application to life exactly as you envision it.
    </p>
  </div>

  <div class="block">
    <h1>🫶🏼 Made with love</h1>

    <p>
      The <strong>Nighthawk Angular Devkit</strong> is crafted with simplicity and elegance in mind. It offers a
      <strong>comprehensive set of components</strong> that are <strong>highly configurable and user-friendly</strong>. This package
      integrates the best open-source tools, such as <strong>Bootstrip</strong> — a streamlined version of Bootstrap that focuses solely on
      <strong>Grid and Utility</strong> features. Additionally, it includes <strong>Moment</strong> for date and time formatting,
      <strong>Swiper</strong> for slider functionality, <strong>quill</strong> for rich text editor, and custom components built primarily
      using the <strong>Angular CDK</strong> library. Our goal is to deliver optimal performance, functionality, and a visually cohesive
      style that can be effortlessly applied across your application.
    </p>
  </div>

  <div class="block">
    <h1>👌🏼 Supported versions</h1>

    <p>
      This package supports <strong>Angular versions 19 and above</strong>. We do not provide backward compatibility for earlier versions.
      Rest assured, we will update the package in alignment with new Angular releases, ensuring that you always have access to the latest
      features without the need to rely on older versions.
    </p>
  </div>
</app-layout>
