<app-layout heading="Image loader">
  <div class="block">
    <h1>Preview</h1>

    @if (displayImage) {
      <div class="image-container mb-3">
        <img nighthawkImageLoader imageSrc="https://picsum.photos/id/200/2560/1440" [width]="2560" [height]="1440" alt="" />
      </div>
    }
    <button nighthawkButton color="primary" [rounded]="true" [border]="true" (click)="displayImage = true">Load image (demo)</button>
  </div>

  <div class="block">
    <h1>Demo code</h1>

    <nighthawk-tabs [plainTabsContent]="true" tabsButtonSize="small">
      <nighthawk-tab tabLabel="HTML">
        <nighthawk-highlight [code]="htmlCode" language="html" />
      </nighthawk-tab>
      <nighthawk-tab tabLabel="TypeScript">
        <nighthawk-highlight [code]="tsCode" language="typescript" />
      </nighthawk-tab>
      <nighthawk-tab tabLabel="SCSS">
        <nighthawk-highlight [code]="scssCode" language="scss" />
      </nighthawk-tab>
    </nighthawk-tabs>
  </div>

  <div class="block">
    <h1>Inputs</h1>

    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th scope="col"><strong>Option</strong></th>
            <th scope="col"><strong>Type</strong></th>
            <th scope="col"><strong>Default value</strong></th>
            <th scope="col"><strong>Possible values</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>imageSrc</strong></td>
            <td>string</td>
            <td><strong>-</strong></td>
            <td>any string (url)</td>
          </tr>
          <tr>
            <td><strong>width</strong></td>
            <td>number</td>
            <td><strong>-</strong></td>
            <td>image width in pixels</td>
          </tr>
          <tr>
            <td><strong>height</strong></td>
            <td>number</td>
            <td><strong>-</strong></td>
            <td>image height in pixels</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="block">
    <h1>Style Variables</h1>

    <nighthawk-highlight [code]="scssVariables" language="scss" />
  </div>
</app-layout>
