<app-layout heading="Quantity selector">
  <div class="block">
    <h1>Preview</h1>

    <div class="row">
      <div class="col-12 col-lg-auto mb-3 mb-lg-0">
        <nighthawk-quantity-selector [(ngModel)]="quantity" [maxQuantity]="99" size="large" />
      </div>
      <div class="col-12 col-lg-auto mb-3 mb-lg-0">
        <nighthawk-quantity-selector [(ngModel)]="quantity" [maxQuantity]="99" size="medium" />
      </div>
      <div class="col-12 col-lg-auto mb-3 mb-lg-0">
        <nighthawk-quantity-selector [(ngModel)]="quantity" [maxQuantity]="99" size="small" />
      </div>
    </div>
  </div>

  <div class="block">
    <h1>Demo code</h1>

    <nighthawk-tabs [plainTabsContent]="true" tabsButtonSize="small">
      <nighthawk-tab tabLabel="HTML">
        <nighthawk-highlight [code]="htmlCode" language="html" />
      </nighthawk-tab>
      <nighthawk-tab tabLabel="TypeScript">
        <nighthawk-highlight [code]="tsCode" language="typescript" />
      </nighthawk-tab>
      <nighthawk-tab tabLabel="SCSS">
        <nighthawk-highlight [code]="scssCode" language="scss" />
      </nighthawk-tab>
    </nighthawk-tabs>
  </div>

  <div class="block">
    <h1>Inputs</h1>

    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th scope="col"><strong>Option</strong></th>
            <th scope="col"><strong>Type</strong></th>
            <th scope="col"><strong>Default value</strong></th>
            <th scope="col"><strong>Possible values</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>maxQuantity</strong></td>
            <td>number</td>
            <td><strong>99999</strong></td>
            <td>0-999999999</td>
          </tr>
          <tr>
            <td><strong>size</strong></td>
            <td>enum</td>
            <td><strong>medium</strong></td>
            <td>small/medium/large</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="block">
    <h1>Outputs</h1>

    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th scope="col"><strong>Event</strong></th>
            <th scope="col"><strong>Type</strong></th>
            <th scope="col"><strong>Value</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>onQuantityChange</strong></td>
            <td>number</td>
            <td>Selected quantity</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="block">
    <h1>Style Variables</h1>

    <nighthawk-highlight [code]="scssVariables" language="scss" />
  </div>
</app-layout>
