<app-layout heading="Issues">
  <div class="block">
    <h1>⚠️ Issues</h1>

    <p class="mb-5">
      Considering the amount of features, there may exist some bugs or not fully implemented functionality. Since this is an open-source
      free-to-use library, we call on all developers to help contribute into making this project near perfect. If you've spotted anything
      that can be fxed, we expect you to push a pull request with the necessary changes.
    </p>

    <h1>Current issues</h1>
    <p>
      <strong>1)</strong> Creating a password type input with nighthawkFormControl is currenty slightly bugged. You have to wrap the input
      with some element, for example an empty <strong> div</strong>.
    </p>
    <p><strong>2)</strong> For some components, the styles might not be fully configurable / exposed to SCSS variables.</p>
    <p class="mb-5"><strong>3)</strong> There exists no tests, and probably won't ever be added.</p>
    <p>
      If you've spotted any additional issues, please open a GitHub ticket
      <a href="https://github.com/evenuxjs/ngx-nighthawk/issues" target="_blank">here</a>.
    </p>
  </div>
</app-layout>
