<nighthawk-dropdown #dropdownRef1>
  <p class="mb-0">Hello world!</p>
</nighthawk-dropdown>

<nighthawk-dropdown #dropdownRef2>
  <p class="mb-0">Hello world!</p>
</nighthawk-dropdown>

<app-layout heading="Dropdown">
  <div class="block">
    <h1>Preview</h1>

    <div class="row row-buttons gx-lg-2">
      <div class="col-12 col-lg-auto">
        <button
          nighthawk-button
          nighthawk-dropdown-trigger
          color="primary"
          size="large"
          [rounded]="true"
          [border]="true"
          [dropdownTrigger]="dropdownRef1"
          [direction]="'end'"
          [dropdownOffset]="0"
          [dropdownHideDelay]="0"
          [dropdownOnHover]="false"
          [dropdownCloseOnClickInside]="false"
          [dropdownCloseOnRouteChange]="true"
          dropdownPanelClass="custom-dropdown"
        >
          Click to open
        </button>
      </div>
      <div class="col-12 col-lg-auto">
        <button
          nighthawk-button
          nighthawk-dropdown-trigger
          color="primary"
          size="large"
          [rounded]="true"
          [border]="true"
          [dropdownTrigger]="dropdownRef2"
          [direction]="'end'"
          [dropdownOffset]="0"
          [dropdownHideDelay]="0"
          [dropdownOnHover]="true"
          [dropdownCloseOnClickInside]="false"
          [dropdownCloseOnRouteChange]="true"
          dropdownPanelClass="custom-dropdown"
        >
          Hover to open
        </button>
      </div>
    </div>

    <nighthawk-dropdown #dropdown> Dropdown content </nighthawk-dropdown>
  </div>

  <div class="block">
    <h1>Demo code</h1>

    <nighthawk-tabs [plainTabsContent]="true" tabsButtonSize="small">
      <nighthawk-tab tabLabel="HTML">
        <nighthawk-highlight [code]="htmlCode" language="html" />
      </nighthawk-tab>
      <nighthawk-tab tabLabel="TypeScript">
        <nighthawk-highlight [code]="tsCode" language="typescript" />
      </nighthawk-tab>
      <nighthawk-tab tabLabel="SCSS">
        <nighthawk-highlight [code]="scssCode" language="scss" />
      </nighthawk-tab>
    </nighthawk-tabs>
  </div>

  <div class="block">
    <h1>Dropdown options</h1>

    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th scope="col"><strong>Option</strong></th>
            <th scope="col"><strong>Type</strong></th>
            <th scope="col"><strong>Default value</strong></th>
            <th scope="col"><strong>Possible values</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>closeOnClickInside</strong></td>
            <td>boolean</td>
            <td><strong>false</strong></td>
            <td>true/false</td>
          </tr>
          <tr>
            <td><strong>offset</strong></td>
            <td>string</td>
            <td><strong>0px</strong></td>
            <td>0-[infinite]px</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="block">
    <h1>DropdownTrigger options</h1>

    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th scope="col"><strong>Option</strong></th>
            <th scope="col"><strong>Type</strong></th>
            <th scope="col"><strong>Default value</strong></th>
            <th scope="col"><strong>Possible values</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>dropdownTrigger</strong></td>
            <td>DropdownPanel</td>
            <td><strong>-</strong></td>
            <td>any component/template reference</td>
          </tr>
          <tr>
            <td><strong>direction</strong></td>
            <td>enum</td>
            <td><strong>end</strong></td>
            <td>start/center/end</td>
          </tr>
          <tr>
            <td><strong>dropdownOffset</strong></td>
            <td>number</td>
            <td><strong>8</strong></td>
            <td>0-infinite</td>
          </tr>
          <tr>
            <td><strong>dropdownHideDelay</strong></td>
            <td>number</td>
            <td><strong>500</strong></td>
            <td>0-infinite</td>
          </tr>
          <tr>
            <td><strong>dropdownOnHover</strong></td>
            <td>boolean</td>
            <td><strong>false</strong></td>
            <td>true/false</td>
          </tr>
          <tr>
            <td><strong>dropdownCloseOnClickInside</strong></td>
            <td>boolean</td>
            <td><strong>true</strong></td>
            <td>true/false</td>
          </tr>
          <tr>
            <td><strong>dropdownCloseOnRouteChange</strong></td>
            <td>boolean</td>
            <td><strong>true</strong></td>
            <td>true/false</td>
          </tr>
          <tr>
            <td><strong>dropdownPanelClass</strong></td>
            <td>string</td>
            <td><strong>-</strong></td>
            <td>any string</td>
          </tr>
          <tr>
            <td><strong>disabled</strong></td>
            <td>boolean</td>
            <td><strong>false</strong></td>
            <td>true/false</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="block">
    <h1>Dropdown outputs</h1>

    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th scope="col"><strong>Event</strong></th>
            <th scope="col"><strong>Type</strong></th>
            <th scope="col"><strong>Value</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>closed</strong></td>
            <td>void</td>
            <td>Emits when the dropdown is closed</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="block">
    <h1>Style Variables</h1>

    <nighthawk-highlight [code]="scssVariables" language="scss" />
  </div>
</app-layout>
