<app-layout heading="Multiselect">
  <div class="block">
    <h1>Preview</h1>

    <div class="row">
      <div class="col-12 col-xl mb-2 mb-xl-0">
        <nighthawk-multi-select
          color="primary"
          [border]="true"
          [rounded]="true"
          [options]="basicOptions"
          nameField="name"
          valueField="id"
          placeholder="Select options"
        />
      </div>
      <div class="col-12 col-xl mb-2 mb-xl-0">
        <nighthawk-multi-select
          color="secondary"
          [border]="true"
          [rounded]="true"
          [options]="basicOptions"
          nameField="name"
          valueField="id"
          placeholder="Select options"
        />
      </div>
      <div class="col-12 col-xl mb-2 mb-xl-0">
        <nighthawk-multi-select
          color="dark"
          [border]="true"
          [rounded]="true"
          [options]="basicOptions"
          nameField="name"
          valueField="id"
          placeholder="Select options"
        />
      </div>
      <div class="col-12 col-xl mb-2 mb-xl-0">
        <nighthawk-multi-select
          color="light"
          [border]="true"
          [rounded]="true"
          [options]="basicOptions"
          nameField="name"
          valueField="id"
          placeholder="Select options"
        />
      </div>
      <div class="col-12 col-xl mb-2 mb-xl-0">
        <nighthawk-multi-select
          color="transparent"
          [border]="true"
          [rounded]="true"
          [options]="basicOptions"
          nameField="name"
          valueField="id"
          placeholder="Select options"
        />
      </div>
    </div>
  </div>

  <div class="block">
    <h1>Demo code</h1>

    <nighthawk-tabs [plainTabsContent]="true" tabsButtonSize="small">
      <nighthawk-tab tabLabel="HTML">
        <nighthawk-highlight [code]="htmlCode" language="html" />
      </nighthawk-tab>
      <nighthawk-tab tabLabel="TypeScript">
        <nighthawk-highlight [code]="tsCode" language="typescript" />
      </nighthawk-tab>
      <nighthawk-tab tabLabel="SCSS">
        <nighthawk-highlight [code]="scssCode" language="scss" />
      </nighthawk-tab>
    </nighthawk-tabs>
  </div>

  <div class="block">
    <h1>Inputs</h1>

    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th scope="col"><strong>Option</strong></th>
            <th scope="col"><strong>Type</strong></th>
            <th scope="col"><strong>Default value</strong></th>
            <th scope="col"><strong>Possible values</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>color</strong></td>
            <td>enum</td>
            <td><strong>primary</strong></td>
            <td>primary/secondary/dark/light/transparent</td>
          </tr>
          <tr>
            <td><strong>size</strong></td>
            <td>enum</td>
            <td><strong>medium</strong></td>
            <td>small/medium/large</td>
          </tr>
          <tr>
            <td><strong>border</strong></td>
            <td>boolean</td>
            <td><strong>false</strong></td>
            <td>true/false</td>
          </tr>
          <tr>
            <td><strong>rounded</strong></td>
            <td>boolean</td>
            <td><strong>false</strong></td>
            <td>true/false</td>
          </tr>
          <tr>
            <td><strong>nameField</strong></td>
            <td>string</td>
            <td><strong>-</strong></td>
            <td>any string</td>
          </tr>
          <tr>
            <td><strong>valueField</strong></td>
            <td>string</td>
            <td><strong>-</strong></td>
            <td>any string</td>
          </tr>
          <tr>
            <td><strong>options</strong></td>
            <td>array of objects</td>
            <td><strong>-</strong></td>
            <td>any array</td>
          </tr>
          <tr>
            <td><strong>hasSearch</strong></td>
            <td>boolean</td>
            <td><strong>false</strong></td>
            <td>true/false</td>
          </tr>
          <tr>
            <td><strong>placeholder</strong></td>
            <td>string</td>
            <td><strong>-</strong></td>
            <td>any string</td>
          </tr>
          <tr>
            <td><strong>searchPlaceholder</strong></td>
            <td>string</td>
            <td><strong>-</strong></td>
            <td>any string</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="block">
    <h1>Outputs</h1>

    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th scope="col"><strong>Event</strong></th>
            <th scope="col"><strong>Type</strong></th>
            <th scope="col"><strong>Value</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>onOptionSelect</strong></td>
            <td>string/number/any</td>
            <td>Emits property's value based on valueField</td>
          </tr>
          <tr>
            <td><strong>onSearchValue</strong></td>
            <td>string</td>
            <td>Emits the string value being searched</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="block">
    <h1>Style Variables</h1>

    <nighthawk-highlight [code]="scssVariables" language="scss" />
  </div>
</app-layout>
