
.f-117-icon-heart:before { content: '\e800'; } /* '' */
.f-117-icon-flow-branch:before { content: '\e801'; } /* '' */
.f-117-icon-minus:before { content: '\e802'; } /* '' */
.f-117-icon-plus:before { content: '\e803'; } /* '' */
.f-117-icon-user-outline:before { content: '\e804'; } /* '' */
.f-117-icon-down-dir:before { content: '\e805'; } /* '' */
.f-117-icon-right:before { content: '\e806'; } /* '' */
.f-117-icon-basket:before { content: '\e807'; } /* '' */
.f-117-icon-logout:before { content: '\e808'; } /* '' */
.f-117-icon-discord:before { content: '\e809'; } /* '' */
.f-117-icon-money:before { content: '\e80a'; } /* '' */
.f-117-icon-menu:before { content: '\f0c9'; } /* '' */
.f-117-icon-download-cloud:before { content: '\f0ed'; } /* '' */
.f-117-icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.f-117-icon-fighter-jet:before { content: '\f0fb'; } /* '' */
.f-117-icon-angle-left:before { content: '\f104'; } /* '' */
.f-117-icon-angle-right:before { content: '\f105'; } /* '' */
.f-117-icon-angle-up:before { content: '\f106'; } /* '' */
.f-117-icon-angle-down:before { content: '\f107'; } /* '' */
.f-117-icon-code:before { content: '\f121'; } /* '' */
.f-117-icon-slack:before { content: '\f198'; } /* '' */
