<div class="dialog-wrapper">
  <div class="dialog-content">
    <button nighthawk-button type="button" color="transparent" class="close-button" (click)="dialogRef.close()">
      <i class="fa fa-close"></i>
    </button>

    <h5 class="mb-4">Buy me a coffee</h5>

    @if (!redirecting) {
      <p class="mb-5">If you enjoy using this devkit, feel free to donate via PayPal.</p>

      <div class="d-flex justify-content-end">
        <a
          nighthawk-button
          type="button"
          color="primary"
          [rounded]="true"
          [border]="true"
          href="https://paypal.me/henrikwesterholm"
          target="_blank"
        >
          Open PayPal donation link
        </a>
      </div>
    } @else {
      <p class="d-flex align-items-center">
        <nighthawk-loader class="d-inline-block me-2" [size]="32" />
        Redirecting you to the donation page, please wait...
      </p>
    }
  </div>
</div>
